
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="/css/buttonum.css" rel="stylesheet" type="text/css">
<link href="/css/buttonum.css" rel="stylesheet" type="text/css">

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<style>

    .admin_button {
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    button {
        width: 400px;
    }


</style>


<html>
<body style="background-color:#f0f8ff">





    <br />


    <a class="admin_button" href="/admin/Head/HeadGuncelle/">
        <button>
            <span class="transition"></span>
            <span class="gradient"></span>
            <span class="label">Anasayfa Giriş Düzenle</span>

        </button>
    </a>
    <br />
    <a class="admin_button" href="/admin/About/AboutGuncelle/">
        <button>
            <span class="transition"></span>
            <span class="gradient"></span>
            <span class="label">Anasayfa Hakkımızda Düzenle</span>
        </button>
    </a>

    <br />
    <a class="admin_button" href="/admin/Service/Index/">
        <button>
            <span class="transition"></span>
            <span class="gradient"></span>
            <span class="label">Anasayfa Hizmetlerimiz Düzenle</span>
        </button>
    </a>
    <br />
    <a class="admin_button" href="/admin/Team/">
        <button>
            <span class="transition"></span>
            <span class="gradient"></span>
            <span class="label">Anasayfa Ekibimiz Düzenle</span>
        </button>
    </a>
    <br />

    <a class="admin_button" href="/admin/Role/">
        <button>
            <span class="transition"></span>
            <span class="gradient"></span>
            <span class="label">Yetkileri Düzenle ve Yetkileri Listele</span>
        </button>
    </a>

    <br />




      <br />

    <a class="admin_button" href="/admin/User/">
        <button>
            <span class="transition"></span>
            <span class="gradient"></span>
            <span class="label">Üyeleri Listele Ve Kontrol Et</span>
        </button>
    </a>

    <br />

    <a class="admin_button" href="/admin/EgitmenDuyuru/">
        <button>
            <span class="transition"></span>
            <span class="gradient"></span>
            <span class="label">Eğitmenlere duyuru yap.</span>
        </button>
    </a>
</body>

    

    
</html>