@using YazilimDanismanlik.Models
@model ProfileViewModel


<!doctype html>
<html lang="en">

<head>
    <title>Login | Tailwind Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/admin/dist/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <style>
        .login {
            background: url('~/wwwroot/profile.jpg')
        }
    </style>
</head>

<body class="h-screen font-sans login bg-cover">
    <div class="container mx-auto h-full flex flex-1 justify-center items-center">
        <div class="w-full max-w-lg">
            <div class="leading-loose">
                <form class="max-w-xl m-4 p-10 bg-white rounded shadow-xl" method="post" enctype="multipart/form-data">
                    <p class="text-gray-800 font-medium text-center text-lg font-bold">Profilini düzenle</p>
                    <div class="">
                        <label class="block text-sm text-gray-00" for="username">Kullanıcı Adı</label>
                       
                        <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" asp-for="UserName" type="text" placeholder="Kullanıcı Adı" aria-label="username">
                    </div>

                    <div class="">
                        <label class="block text-sm text-gray-00" for="username">Adınız</label>

                        <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" asp-for="Name" type="text" placeholder="Kullanıcı Adı" aria-label="username">
                    </div>

                    <div class="">
                        <label class="block text-sm text-gray-00" for="username">Soyadınız</label>

                        <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" asp-for="Surname" type="text" placeholder="Kullanıcı Adı" aria-label="username">
                    </div>

                    <div class="">
                        <label class="block text-sm text-gray-00" for="username">Profil Fotoğrafı</label>
                     
                    
                       <input asp-for="UploadProfile" class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" type="file">

                    
                    </div>



                  @*   <div class="mt-2">
                        <label class="block text-sm text-gray-600" for="password">Önceki şifreniz</label>
                       
                        <input class="w-full px-5  py-1 text-gray-700 bg-gray-200 rounded" asp-for="OldPassword" type="text" placeholder="*******" aria-label="password">
                    </div> *@

                    <div class="mt-2">
                        <label class="block text-sm text-gray-600" for="password">Yeni şifreniz</label>

                        <input class="w-full px-5  py-1 text-gray-700 bg-gray-200 rounded" asp-for="NewPassword" type="text" placeholder="*******" aria-label="password">
                    </div>

                    <div class="mt-2">
                        <label class="block text-sm text-gray-600" for="password">Yeni şifreyi onayla</label>

                        <input class="w-full px-5  py-1 text-gray-700 bg-gray-200 rounded" asp-for="NewPasswordConfirm" type="text" placeholder="*******" aria-label="password">
                    </div>

                    <div class="mt-4 items-center justify-between">
                        <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded">Bilgileri güncelle. </button>
                       
                    </div>
                   
                </form>

            </div>
        </div>
    </div>
</body>

</html>
